.modal-header-medication {
  background-color: #E0E0E0;
  border-radius: 6px;

  padding: 12px !important; }
.modal-header-medication .modal-title-medication {
  font-weight: bold;
  font-size: 14px; }


.modal-body-medication .button-save-medication {
  background-color: #003678;
  border: 1px solid black !important;
  color: #ffffff;
  width: 70px;
  height: 40px;
  margin-top: 20px; }
.modal-body-medication .button-save-medication .glyphicon {
  color: white; }

.modal-body-medication .error-message-medication {
  color: red; }

.modal-body-medication .exit-button-medication {
  color: red !important; }

.modal-body-medication .button-left-medication {
  background-color: #e0e0e0;
  border: 1px solid black !important;
  color: black;
  width: 70px;
  height: 40px;
  margin-top: 20px; }
.modal-body-medication .button-left-medication .fa {
  color: black; }

.modal-body-medication .buttons-modal-medication {
  display: flex;
  align-items: center;
  justify-content: center; }