
.list-content-medication > div:nth-child(2n+1) {
  background-color: #ecf0f7;
}
.list-content-medication > div:nth-child(2n) {
  background-color: antiquewhite;
}
.item-list-content-medication{
  padding-bottom: 10%;
  padding-left: 6%;
  padding-top: 3%;
  margin-bottom: 5%;
}