.pagination-style-caregivers {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: -15px;
  margin-bottom: 5px;
  padding: 0px 10px;

  &-dropDownMenu{
    display: flex;
    margin-top: 10px;
    padding-left: 0px;
  }
;
  background-color: #ecf0f7 !important;
  border-style: solid;
  border-width: 1.4px;
  border-color: #ddd !important;
  border-top: solid 2px #ddd !important;
}

.pagination-list-caregivers{
  display:flex;
  //margin-right: 25px;
  .pagination{
    width: 265px;
  }
}

.caregivers-panel-container {

  border: 0px !important;
  box-shadow: none !important;
  margin-top: 3px;

  .panel-body {
    padding: 0px !important;
    box-shadow: none !important;
  }
}

.caregivers-panel-container .caregivers-panel-header {
  height: 30px;
  padding-top: 6px;
  font-size: 12px;
  border-top: 1px solid #e0e0e0;
  color: #000000 !important;
  background: #528cda none !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  .caregivers-panel-header-row{
    height:100%;
  }
}
.caregivers-panel-container {

  .open > .dropdown-menu {
    display: inline-flex !important;
    background-color: #e6e6e6 !important;
  }

  .dropdown-menu > li > a {
    background-color: #FFFFFF !important;
  }

  .react-bs-table-sizePerPage-dropdown ul {
    margin: 0 !important;
    background-color: #ecf0f7 !important;
    float: none !important;
    position: static !important;
  }

  .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5 !important;
  }

  .title-col-caregivers{
    height: 100%;
    padding-left: 5px!important;
  }


  .info-col-caregivers {
    color: black !important;
    text-align: right !important;
    padding-right: 5px !important;
  }
}
.table-buttons-container-caregivers{
  margin-top: 17px;
  display: inline-flex;
  margin-right: 20px;
}

.add-delete-print-buttons-caregivers{
  margin :2%;
}

.add-delete-print-buttons-caregivers .button-add-caregivers{


  .glyphicon {
    color: white;
  }
}
