.table-style-patients {
  border-radius: 2px;
  font-size: 12px;
  color: #000000;
  padding: 0px!important;

   border-left: 1px solid #e0e0e0;
   border-right: 1px solid #e0e0e0;

  .table>thead>tr>th {
    border-top : 0px!important;
  }


  .table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
    color: #215f9c;
  }

  .table-condensed>tbody>tr>td:focus {
    outline: none;
  }
}