.modal-header-caregivers {
  background-color: #E0E0E0;
  border-radius: 6px;

  padding: 12px !important; }
.modal-header-caregivers .modal-title-caregivers {
  font-weight: bold;
  font-size: 14px; }


.modal-body-caregivers .button-save-caregivers {
  background-color: #003678;
  border: 1px solid black !important;
  color: #ffffff;
  width: 70px;
  height: 40px;
  margin-top: 20px; }
.modal-body-caregivers .button-save-caregivers .glyphicon {
  color: white; }

.modal-body-caregivers .error-message-caregivers {
  color: red; }

.modal-body-caregivers .exit-button-caregivers {
  color: red !important; }

.modal-body-caregivers .button-left-caregivers {
  background-color: #e0e0e0;
  border: 1px solid black !important;
  color: black;
  width: 70px;
  height: 40px;
  margin-top: 20px; }
.modal-body-caregivers .button-left-caregivers .fa {
  color: black; }

.modal-body-caregivers .buttons-modal-caregivers {
  display: flex;
  align-items: center;
  justify-content: center; }