@media (min-width: 481px) and (max-width: 747px) {
  .delete-modal-caregivers {
    width: 70% !important;
    height: 320px;
  }
}

@media (min-width: 992px) {
  .delete-modal-caregivers {
    width: 30% !important;
    height:320px;

  }
}

.text-delete-pop-up-caregivers{
  text-align: center;
}

.delete-modal-caregivers {
  top: 20%;
}

.buttons-delete-pop-up-caregivers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  & button {
    color: #ffffff;

    .glyphicon {
      color: white;
    }
  }

  .button-ok-caregivers {
    background-color: green;
  }

  .button-remove-caregivers {
    background-color: red;
    margin-left: 2rem;
    font-size: 1.6rem;

  }
}
